/* 
Font Size system:
- Extra Small: 0.75rem
- Small: 0.875rem
- Base: 1rem
- Large: 1.25rem
- Extra Large: 1.5rem
- 2X Large: 2rem
- 3X Large: 2.5rem
- 4X LArge: 3rem 

Line Height system:
- Extra Small: 1.2
- Small: 1.3
- Base: 1.5
- Large: 1.5
- Extra Large: 1.6
- 2X Large: 1.3
- 3X Large: 1.2
- 4X Large: 1.1

Color System: Indigo
- Indigo 0: #edf2ff
- Indigo 1: #dbe4ff
- Indigo 2: #bac8ff
- Indigo 3: #91a7ff
- Indigo 4: #748ffc
- Indigo 5: #5c7cfa
- Indigo 6: #4c6ef5
- Indigo 7: #4263eb
- Indigo 8: #3b5bdb
- Indigo 9: #364fc7
- "black": #121932
- "white": #dee5fe	
*/

html {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #dee5fe;
  color: #121932;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h6 {
  color: #4263eb;
}

a {
  text-decoration: none;
  color: #dee5fe;
}

/* Header Section */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #becbfd; /* TODO: change colour */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-button {
  background-color: #364fc7;
  border: none;
  border-radius: 50rem;
  padding: 15px 32px;
  text-align: center;
}

.header-button:hover {
  background-color: #3b5bdb;
  color: #edf2ff;
  transition: all 0.3s;
}

/* Me Section */
.me-section {
  /* Have a text talking about who I am and a image of me next to it*/
  display: flex;
  align-items: center;
  height: 50vh;
  padding: 20px;
  box-sizing: border-box;
}

.me-heading {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  line-height: 1.3;
}

.me-paragraph {
  font-size: 1.2rem;
  line-height: 1.5;
}

.me-section .description,
.me-section .profile-pic {
  flex: 1;
  margin: 10px;
}

.me-section .description {
  padding: 20px;
}

.me-section .profile-pic {
  max-width: 100%; /* ensures that the picture stays in the container */
  max-height: 100%;
  object-fit: contain;
}

/* Projects and Skills Section */
.projects-skills-section {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 20px;
}

.projects,
.skills {
  flex: 1;
  margin: 10px;
  padding: 20px;
  background-color: #edf2ff; /* TODO: change colour*/
  border-radius: 3rem;
}

.skills-selection,
.projects-selection {
  background-color: #364fc7;
  border: none;
  border-radius: 50rem;
  padding: 15px 32px;
  text-align: center;
  color: #edf2ff;
}

.skills-header,
.projects-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Additional styling for projects and skills */
.projects ul,
.skills ul {
  list-style-type: none;
  padding: 0;
}

.projects li,
.skills li {
  margin: 5px 0;
  font-size: 1.1rem;
  line-height: 1.3;
}

.projects li:hover,
.skills li:hover {
  /* Increase font size slightly and change colour lighter */
  transition: all 0.3s;
  font-size: 1.25rem;
  color: #3b5bdb;
}

.projects h2,
.skills h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

/* Footer Section */
footer {
  text-align: center;
  padding: 20px;
  background-color: #dbe4ff;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

/* Email Link Styles */
.footer-email:link,
.footer-email:visited {
  color: #121932;
}

.footer-email:hover,
.footer-email:active {
  color: #4c6ef5;
  transition: all 0.3s;
}

/* General Link Styles for Footer */
.footer-link:link,
.footer-link:visited {
  color: #121932;
}

.footer-link:hover,
.footer-link:active {
  color: #4c6ef5;
  transition: all 0.3s;
  text-decoration: underline;
}
